# Dependencies
node_modules/
**/node_modules/

# Environment files
.env
**/.env
.env.local
.env.production
.env.development

# Build folders
dist/
**/dist/
build/
**/build/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db
